{% extends 'mainapp/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'style/password.css' %}">
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        #pass {
            position: static;
            width: auto;
            height: auto;
            background: transparent;
            margin: auto;
            display: block;
        }
    </style>
{% endblock %}


{% block content %}

<section class="password" id="pass">
    <form class="password__form form_label" action="{% url 'authapp:password_change' %}" method="post">
        {% csrf_token %}
       {% comment %} {{ form.as_p }} {% endcomment %}
      <h1 class="password__form__title">Смена пароля</h1>
      <div class="password__form__style">
        <div class="password__form__group flex">
            {{ form.new_password1 }}
          <label class="password__form__label">Новый пароль</label>
        </div>
        <div class="password__form__group flex">
            {{ form.new_password2 }}
          <label class="password__form__label">Пордтверждение пароля</label>
        </div>
      </div>
      {% comment %} <a class="password__form__button button" id="btn" onclick="printmsg()"
        href="https://ya.ru/">Сохранить</a> {% endcomment %}
        <input class="password__form__button button" value="Сохранить" type="submit">
    </form>
  </section>

{% endblock %}

{% block script %}
  
{% endblock %}