{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <h1>продукты</h1>
    <a href="{% url 'mainapp:index' %}">гравная страница</a>
    <table border=1>
        <thead>
          <tr>
            <td>name</td>
            <td>количесто</td>
            <td>цена</td>
          </tr>
        </thead>
        <tbody>
            {% for basket in baskets %}
            <tr>
                <td>{{ basket.product }}</td>
                <td>{{ basket.quantity }}</td>
                <td>{{ basket.sum }}</td>
                <td><a href="{% url 'basketapp:basket_remove' basket.id %}">удалить</a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <p>Общая сумма: {{ baskets.0.total_sum }} руб</p>

      
{% endblock %}