<nav class="header__menu">
    <div class="whiteblock"></div>
    <ul class="header__menu__list">
      <li class="header__item">
        <a href="/pages/about__max.html" class="header__item__link">О нас
        </a>
      </li>
      <li class="header__item"><a href="" class="header__item__link">
          Эксклюзив
        </a></li>
      <li class="header__item"><a href="/pages/partners.html" class="header__item__link">
          Партнеры
        </a></li>
      <li class="header__item"><a href="/pages/contacts__map.html" class="header__item__link">
          Контакты
        </a></li>
      <li class="header__item display"><a class="header__item__link" data-popup-link="login_popup">Вход</a></li>
      <li class="header__item display"><a class="header__item__link" data-popup-link="registration_popup">Регистрация</a></li>
      <li class="header__item display"><a class="header__item__link" data-popup-link="mypage__popup">Моя страница</a></li>
      <li class="header__item display"><a class="header__item__link" href="/pages/historyorder.html">Мои заказы</a></li>
      <li class="header__item display"><a class="header__item__link" href="/pages/admin.html">ADMIN</a></li>
      <li class="header__item display"><a class="header__item__link" href="/pages/password.html">Изменить пароль</a></li>
      <li class="header__item display"><a class="header__item__link" href="#">Выход</a></li>
    </ul>
  </nav>