{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <form action="{% url 'adminapp:product_update' product.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.as_p }}
        <ul>
            {% for file in files %}
                <li><a href="{{ file.image.url }}">{{ file.image.name }}</a> <a href="{% url 'adminapp:product_img_remove' file.id product.id %}">удаалить</a></li>
            {% empty %}
                <li>No files uploaded yet.</li>
            {% endfor %}
        </ul>
        <button type="submit" class="btn">save</button>

    </form>
    <button class="btn"><a href="{% url 'adminapp:products' %}">exit</a></button>
    <script>
        {% comment %} let a = document.querySelector("#id_files")
        a = {{ files_t | safe }}
        a.forEach((file) => {
            const myFile = new File(['Hello World!'], 'myFile.txt', {
                type: 'text/plain',
                lastModified: new Date(),
            });
        
            // Now let's create a DataTransfer to get a FileList
            const dataTransfer = new DataTransfer();
            dataTransfer.items.add(myFile);
            fileInput.files = dataTransfer.files;
        })
         {% endcomment %}
    </script>
{% endblock %}