{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <h1>заявки</h1>
    <a href="{% url 'adminapp:index' %}">Адмика</a>
    <table border=1>
        <thead>
          <tr>
            <td>email</td>
            <td>text</td>
          </tr>
        </thead>
        <tbody>
            {% for application in applications_list %}
            <tr>
                <td>{{ application.times_send.date|date:"d-M, Y" }} :: {{ application.times_send.time }}</td>
                <td>{{ application.email }}</td>
                <td>{{ application.report }}</td>
                <td><a href="{% url 'adminapp:report_view' application.id %}">Просмотр</a></td>
                <td><a href="{% url 'adminapp:report_remove' application.id %}">удалить</a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

      
{% endblock %}