appnope
asgiref
asttokens==2.4.0
backcall==0.2.0
comm==0.1.4
debugpy
decorator==5.1.1
Django
django-phonenumber-field
exceptiongroup
executing==1.2.0
ipykernel
ipython
jedi==0.19.0
jupyter_client
jupyter_core
matplotlib-inline==0.1.6
nest-asyncio==1.5.7
packaging
parso==0.8.3
pexpect==4.8.0
phonenumbers==8.13.18
phonenumberslite==8.13.18
pickleshare==0.7.5
Pillow
platformdirs
prompt-toolkit
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments
python-dateutil==2.8.2
pyzmq==25.1.1
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.2
tornado
traitlets
typing_extensions
wcwidth==0.2.6
