{% extends 'mainapp/base.html' %}
{% load static %}



  
{% block style %}
    <link rel="stylesheet" href="{% static 'style/about__max.css' %}">
{% endblock %}


{% block content %}
<section class="about__max">
    <div class="about__max__container container">
      <h1 class="about__max__heading md-20">--- Обо мне ---</h1>
      <p class="about__max__description paragraph md-20">Здравствуйте, меня зовут Светлана и я домашний кондитер!</p>
      <p class="about__max__description paragraph md-20">Мой интернет-магазин tortik-vip.ru – это прекрасное место для
        любителей вкусных десертов. Я специализируемся на продаже качественных тортов, пирожных, чизкейков и печенья,
        которые подарят вам и вашим близким прекрасные моменты наслаждения и удовольствия.</p>
      <p class="about__max__description paragraph md-20">Я горжусь тем, что предлагаю своим клиентам только самые
        свежие и вкусные десерты. Все мои изделия готовятся с использованием только качественных ингредиентов, без
        добавления искусственных консервантов и красителей. Я стремлюсь сохранить натуральный вкус и полезные свойства
        каждого десерта.</p>
      <p class="about__max__description paragraph md-20">Мой интернет-магазин базируется в городе Саянск и осуществляет
        доставку по всей территории этого города. Я предлагю удобный способ заказа через мой сайт, где вы сможете
        выбрать желаемый товар, указать адрес доставки, а также указать удобное время получения заказа.</p>
      <p class="about__max__description paragraph md-20">У меня вы найдете широкий ассортимент десертов на любой вкус и
        повод. Я предлагаю торты на день рождения, свадьбу, юбилей или любое другое торжество. Кроме того, в моём
        ассортименте имеются различные пирожные и чизкейки, которые идеально подойдут для кулинарных экспериментов или
        просто для того, чтобы порадовать себя и своих близких.</p>
      <p class="about__max__description paragraph md-20">Я стараюсь создать
        уникальные десерты с особым вниманием к деталям. Я не только стремлюсь удовлетворить ваши вкусовые
        предпочтения, но и создать настоящие произведения искусства, чтобы Вы получил не только радость
        от вкуса, но и эстетическое удовольствие.</p>
    </div>
  </section>
{% endblock %}
