{% extends 'mainapp/base.html' %}
{% load static %}






  
{% block style %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
{% endblock %}


{% block content %}

{% include 'mainapp/hero.html' %}
  
    <!--***** list *****-->

    <section class="list">
      {% for product_category in product_categories %}
          <div class="container">        
              <h2 class="second__level__heading mb-30">{{ product_category.name }}</h2>
              <ul class="list__cakes">
                  {% include 'mainapp/products.html' %}
              </ul>
          </div>
      {% endfor %}
      </section>


      
  
    <!-- ***** questions ***** -->
  
    <section class="questions section-offset">
      <div class="container">
        <h2 class="questions__title second__level__heading ">Часто задаваемые вопросы</h2>
        <ul class="list accordion-container">
          <li class="list__item item ac">
            <button class="item__top botton">
              <span class="item__question ac-header ac-trigger">Из чего формируется конечная стоимость проекта?</span>
              <span class="item__top__btn btn botton__plus-2"></span>
            </button>
            <div class="item__bottom">
              <p class="list__item__text ac-panel">Являясь всего лишь частью общей картины, непосредственные участники
                технического прогресса призывают нас 
                к новым свершениям, которые, в свою очередь, должны быть своевременно верифицированы.
                Но высококачественный прототип будущего проекта является качественно новой ступенью первоочередных
                требований. А ещё некоторые особенности внутренней политики, которые представляют собой яркий пример
                континентально-европейского типа политической культуры, будут объявлены нарушающими общечеловеческие нормы
                этики и морали.</p>
            </div>
          </li>
          <li class="list__item item ac ">
            <button class="item__top botton">
              <span class="item__question ac-header ac-trigger">У меня есть свой проект. Сможем ли мы его доработать /
                реализовать?</span>
              <span class="item__top__btn btn botton__plus-2"></span>
            </button>
            <div class="item__bottom">
              <p class="list__item__text ac-panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut
                ipsa consectetur similique mollitia eius fugit aperiam magni, corrupti laboriosam, vel delectus laudantium
                amet itaque reprehenderit et consequatur aspernatur pariatur?</p>
            </div>
          </li>
          <li class="list__item item ac">
            <button class="item__top botton">
              <span class="item__question ac-header ac-trigger">Я выбираю между разными компаниями. В чём ваше
                отличие?</span>
              <span class="item__top__btn btn botton__plus-2"></span>
            </button>
            <div class="item__bottom">
              <p class="list__item__text ac-panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut
                ipsa consectetur similique mollitia eius fugit aperiam magni, corrupti laboriosam, vel delectus laudantium
                amet itaque reprehenderit et consequatur aspernatur pariatur?</p>
            </div>
          </li>
          <li class="list__item item ac">
            <button class="item__top botton">
              <span class="item__question ac-header ac-trigger">Могу ли я делегировать вам работу / согласование
                с подрядчиком /
                организацией?</span>
              <span class="item__top__btn btn botton__plus-2"></span>
            </button>
            <div class="item__bottom">
              <p class="list__item__text ac-panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut
                ipsa consectetur similique mollitia eius fugit aperiam magni, corrupti laboriosam, vel delectus laudantium
                amet itaque reprehenderit et consequatur aspernatur pariatur?</p>
            </div>
          </li>
          <li class="list__item item ac">
            <button class="item__top botton">
              <span class="item__question ac-header ac-trigger">Могу ли я вернуть деньги на каком-либо из этапов
                работ?</span>
              <span class="item__top__btn btn botton__plus-2"></span>
            </button>
            <div class="item__bottom">
              <p class="list__item__text ac-panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut
                ipsa consectetur similique mollitia eius fugit aperiam magni, corrupti laboriosam, vel delectus laudantium
                amet itaque reprehenderit et consequatur aspernatur pariatur?</p>
            </div>
          </li>
        </ul>
      </div>
    </section>

{% endblock %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="{% static 'script/tabs.js' %}"></script>
  <script src="{% static 'script/accordion.min.js' %}"></script>
  <script type="module" src="{% static 'script/script.js' %}"></script>
  <script type="module" src="{% static 'script/add_product_basket.js' %}"></script>
  <script>
    let popup = {{ popup | safe }}
    if (popup == "reg") {
      document.querySelector("#registration_popup").classList.remove("none")
    }
    if (popup == "login") {
      document.querySelector("#login_popup").classList.remove("none")
    }
  </script>
{% endblock %}