{% extends 'mainapp/base.html' %}
{% load static %}






  
{% block style %}
<link rel="stylesheet" href="{% static 'style/accordion.min.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
{% endblock %}


{% block content %}

{% include 'mainapp/hero.html' %}
  
    <!--***** list *****-->

    <section class="list">
      {% for product_category in product_categories %}
          <div class="container">        
              <h2 class="second__level__heading mb-30">{{ product_category.name }}</h2>
              <ul class="list__cakes">
                  {% include 'mainapp/products.html' %}
              </ul>
          </div>
      {% endfor %}


      <div class="container">
        <h2 class="second__level__heading mb-30">Торты</h2>
        <ul class="list__cakes">
          <li class="product card">
            <a href="/pages/card__one.html">
              <div class="product__image">
                <div class="product__switch image-switch">
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide2.png"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide1.png"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide3.png"></div>
                  </div>
                </div>
                <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              </div>
              <div class="list__shift">
                <h3 class="list__Card__name card__item">Вкусный тортик</h3>
              </div>
            </a>
            <div class="list__right__weight">
              <div class="list__reviews flex">
                <div>
                  <p class="list__compound card__item">крем | какао</p>
                </div>
                <div class="list__link">
                  <ul class="flex">
                    <li class="list__link__item"><img class="list__star" src="../img/star.png" alt="#"></li>
                    <li class="list__link__item df"><a class="list__link__rating" href="#">4.9</a></li>
                    <li class="list__link__item"><a class="list__link__reviews" href="#">.</a></li>
                    <li class="list__link__item mt-2"><a class="list__link__reviews"
                        href="/pages/card__one.html#reviews__test">19 отзывов</a></li>
                  </ul>
                </div>
              </div>
              <p class="list__right__weighttext card__item">Вес товара, г</p>
              <ul class="list__weight__list flex card__item">
                <li class="list__weight__link tabs-nav__btn--active" data-path="one" tabindex="0">400</li>
                <li class="list__weight__link" data-path="two" tabindex="0">600</li>
                <li class="list__weight__link" data-path="three" tabindex="0">800</li>
                <li class="list__weight__link" data-path="four" tabindex="0">1000</li>
                <li class="list__weight__link" data-path="five" tabindex="0">2000</li>
              </ul>
              <div class="flex card__item">
                <div class="list__weight__container tabs-item tabs-item--active" data-target="one">
                  <div class="card__item">599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1953</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="two">
                  <div class="card__item">799 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1954</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="three">
                  <div class="card__item">1199 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1955</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="four">
                  <div class="card__item">1599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1956</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="five">
                  <div class="card__item">2890 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1957</p>
                  </div>
                </div>
              </div>
              <div class="list__card__more flex aic card__item">
                <a class="list__more__details" href="/pages/card__one.html">Подробнее</a>
                <svg width="11" class="svg-one" height="18" viewBox="0 0 11 18" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.49998 1.00002L9.27815 8.7782L1.49998 16.5564" stroke="#028e15" stroke-width="2" />
                </svg>
              </div>
              <div class="list__button flex">
                <a class="list__righ__button button" href="#">В корзину</a>
                <a class="list__righ__buttontwo buttontwo" href="">Купить</a>
              </div>
            </div>
          </li>
          <li class="product card">
            <a href="/pages/card__one.html">
              <div class="product__image">
                <div class="product__switch image-switch">
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide2.png" alt="Макбук"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide1.png" alt="Макбук"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide3.png" alt="Макбук"></div>
                  </div>
                </div>
                <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              </div>
              <div class="list__shift">
                <h3 class="list__Card__name card__item">Вкусный тортик</h3>
              </div>
            </a>
            <div class="list__right__weight">
              <p class="list__compound card__item">крем | какао</p>
              <p class="list__right__weighttext card__item">Вес товара, г</p>
              <ul class="list__weight__list flex card__item">
                <li class="list__weight__link tabs-nav__btn--active" data-path="ten" tabindex="0">400</li>
                <li class="list__weight__link" data-path="six" tabindex="0">600</li>
                <li class="list__weight__link" data-path="seven" tabindex="0">800</li>
                <li class="list__weight__link" data-path="eight" tabindex="0">1000</li>
                <li class="list__weight__link" data-path="nine" tabindex="0">2000</li>
              </ul>
              <div class="flex card__item">
                <div class="list__weight__container tabs-item tabs-item--active" data-target="ten">
                  <div class="card__item">599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1953</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="six">
                  <div class="card__item">799 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1954</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="seven">
                  <div class="card__item">1199 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1955</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="eight">
                  <div class="card__item">1599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1956</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="nine">
                  <div class="card__item">2890 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1957</p>
                  </div>
                </div>
              </div>
              <div class="list__card__more flex aic card__item">
                <a class="list__more__details" href="/pages/card__one.html">Подробнее</a>
                <svg width="11" class="svg-one" height="18" viewBox="0 0 11 18" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.49998 1.00002L9.27815 8.7782L1.49998 16.5564" stroke="#028e15" stroke-width="2" />
                </svg>
              </div>
              <div class="list__button flex">
                <a class="list__righ__button button" href="#">В корзину</a>
                <a class="list__righ__buttontwo buttontwo" href="">Купить</a>
              </div>
            </div>
          </li>
          <li class="product card">
            <a href="/pages/card__one.html">
              <div class="product__image">
                <div class="product__switch image-switch">
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide2.png" alt="Макбук"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide1.png" alt="Макбук"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide3.png" alt="Макбук"></div>
                  </div>
                </div>
                <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              </div>
              <div class="list__shift">
                <h3 class="list__Card__name card__item">Вкусный тортик</h3>
              </div>
            </a>
            <div class="list__right__weight">
              <p class="list__compound card__item">крем | какао</p>
              <p class="list__right__weighttext card__item">Вес товара, г</p>
              <ul class="list__weight__list flex card__item">
                <li class="list__weight__link tabs-nav__btn--active" data-path="ten" tabindex="0">400</li>
                <li class="list__weight__link" data-path="six" tabindex="0">600</li>
                <li class="list__weight__link" data-path="seven" tabindex="0">800</li>
                <li class="list__weight__link" data-path="eight" tabindex="0">1000</li>
                <li class="list__weight__link" data-path="nine" tabindex="0">2000</li>
              </ul>
              <div class="flex card__item">
                <div class="list__weight__container tabs-item tabs-item--active" data-target="ten">
                  <div class="card__item">599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1953</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="six">
                  <div class="card__item">799 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1954</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="seven">
                  <div class="card__item">1199 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1955</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="eight">
                  <div class="card__item">1599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1956</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="nine">
                  <div class="card__item">2890 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1957</p>
                  </div>
                </div>
              </div>
              <div class="list__card__more flex aic card__item">
                <a class="list__more__details" href="/pages/card__one.html">Подробнее</a>
                <svg width="11" class="svg-one" height="18" viewBox="0 0 11 18" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.49998 1.00002L9.27815 8.7782L1.49998 16.5564" stroke="#028e15" stroke-width="2" />
                </svg>
              </div>
              <div class="list__button flex">
                <a class="list__righ__button button" href="#">В корзину</a>
                <a class="list__righ__buttontwo buttontwo" href="">Купить</a>
              </div>
            </div>
          </li>
          <li class="product card">
            <a href="/pages/card__one.html">
              <div class="product__image">
                <div class="product__switch image-switch">
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide2.png" alt="Макбук"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide1.png" alt="Макбук"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide3.png" alt="Макбук"></div>
                  </div>
                </div>
                <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              </div>
              <div class="list__shift">
                <h3 class="list__Card__name card__item">Вкусный тортик</h3>
              </div>
            </a>
            <div class="list__right__weight">
              <p class="list__compound card__item">крем | какао</p>
              <p class="list__right__weighttext card__item">Вес товара, г</p>
              <ul class="list__weight__list flex card__item">
                <li class="list__weight__link tabs-nav__btn--active" data-path="ten" tabindex="0">400</li>
                <li class="list__weight__link" data-path="six" tabindex="0">600</li>
                <li class="list__weight__link" data-path="seven" tabindex="0">800</li>
                <li class="list__weight__link" data-path="eight" tabindex="0">1000</li>
                <li class="list__weight__link" data-path="nine" tabindex="0">2000</li>
              </ul>
              <div class="flex card__item">
                <div class="list__weight__container tabs-item tabs-item--active" data-target="ten">
                  <div class="card__item">599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1953</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="six">
                  <div class="card__item">799 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1954</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="seven">
                  <div class="card__item">1199 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1955</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="eight">
                  <div class="card__item">1599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1956</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="nine">
                  <div class="card__item">2890 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1957</p>
                  </div>
                </div>
              </div>
              <div class="list__card__more flex aic card__item">
                <a class="list__more__details" href="/pages/card__one.html">Подробнее</a>
                <svg width="11" class="svg-one" height="18" viewBox="0 0 11 18" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.49998 1.00002L9.27815 8.7782L1.49998 16.5564" stroke="#028e15" stroke-width="2" />
                </svg>
              </div>
              <div class="list__button flex">
                <a class="list__righ__button button" href="#">В корзину</a>
                <a class="list__righ__buttontwo buttontwo" href="">Купить</a>
              </div>
            </div>
          </li>
          <li class="product card">
            <a href="/pages/card__one.html">
              <div class="product__image">
                <div class="product__switch image-switch">
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide2.png" alt="Макбук"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide1.png" alt="Макбук"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide3.png" alt="Макбук"></div>
                  </div>
                </div>
                <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              </div>
              <div class="list__shift">
                <h3 class="list__Card__name card__item">Вкусный тортик</h3>
              </div>
            </a>
            <div class="list__right__weight">
              <p class="list__compound card__item">крем | какао</p>
              <p class="list__right__weighttext card__item">Вес товара, г</p>
              <ul class="list__weight__list flex card__item">
                <li class="list__weight__link tabs-nav__btn--active" data-path="ten" tabindex="0">400</li>
                <li class="list__weight__link" data-path="six" tabindex="0">600</li>
                <li class="list__weight__link" data-path="seven" tabindex="0">800</li>
                <li class="list__weight__link" data-path="eight" tabindex="0">1000</li>
                <li class="list__weight__link" data-path="nine" tabindex="0">2000</li>
              </ul>
              <div class="flex card__item">
                <div class="list__weight__container tabs-item tabs-item--active" data-target="ten">
                  <div class="card__item">599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1953</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="six">
                  <div class="card__item">799 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1954</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="seven">
                  <div class="card__item">1199 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1955</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="eight">
                  <div class="card__item">1599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1956</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="nine">
                  <div class="card__item">2890 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1957</p>
                  </div>
                </div>
              </div>
              <div class="list__card__more flex aic card__item">
                <a class="list__more__details" href="/pages/card__one.html">Подробнее</a>
                <svg width="11" class="svg-one" height="18" viewBox="0 0 11 18" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.49998 1.00002L9.27815 8.7782L1.49998 16.5564" stroke="#028e15" stroke-width="2" />
                </svg>
              </div>
              <div class="list__button flex">
                <a class="list__righ__button button" href="#">В корзину</a>
                <a class="list__righ__buttontwo buttontwo" href="">Купить</a>
              </div>
            </div>
          </li>
          <li class="product card">
            <a href="/pages/card__one.html">
              <div class="product__image">
                <div class="product__switch image-switch">
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide2.png" alt="Макбук"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide1.png" alt="Макбук"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide3.png" alt="Макбук"></div>
                  </div>
                </div>
                <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              </div>
              <div class="list__shift">
                <h3 class="list__Card__name card__item">Вкусный тортик</h3>
              </div>
            </a>
            <div class="list__right__weight">
              <p class="list__compound card__item">крем | какао</p>
              <p class="list__right__weighttext card__item">Вес товара, г</p>
              <ul class="list__weight__list flex card__item">
                <li class="list__weight__link tabs-nav__btn--active" data-path="ten" tabindex="0">400</li>
                <li class="list__weight__link" data-path="six" tabindex="0">600</li>
                <li class="list__weight__link" data-path="seven" tabindex="0">800</li>
                <li class="list__weight__link" data-path="eight" tabindex="0">1000</li>
                <li class="list__weight__link" data-path="nine" tabindex="0">2000</li>
              </ul>
              <div class="flex card__item">
                <div class="list__weight__container tabs-item tabs-item--active" data-target="ten">
                  <div class="card__item">599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1953</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="six">
                  <div class="card__item">799 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1954</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="seven">
                  <div class="card__item">1199 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1955</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="eight">
                  <div class="card__item">1599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1956</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="nine">
                  <div class="card__item">2890 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1957</p>
                  </div>
                </div>
              </div>
              <div class="list__card__more flex aic card__item">
                <a class="list__more__details" href="/pages/card__one.html">Подробнее</a>
                <svg width="11" class="svg-one" height="18" viewBox="0 0 11 18" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.49998 1.00002L9.27815 8.7782L1.49998 16.5564" stroke="#028e15" stroke-width="2" />
                </svg>
              </div>
              <div class="list__button flex">
                <a class="list__righ__button button" href="#">В корзину</a>
                <a class="list__righ__buttontwo buttontwo" href="">Купить</a>
              </div>
            </div>
          </li>
          <li class="product card">
            <a href="/pages/card__one.html">
              <div class="product__image">
                <div class="product__switch image-switch">
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide2.png" alt="Макбук"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide1.png" alt="Макбук"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide3.png" alt="Макбук"></div>
                  </div>
                </div>
                <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              </div>
              <div class="list__shift">
                <h3 class="list__Card__name card__item">Вкусный тортик</h3>
              </div>
            </a>
            <div class="list__right__weight">
              <p class="list__compound card__item">крем | какао</p>
              <p class="list__right__weighttext card__item">Вес товара, г</p>
              <ul class="list__weight__list flex card__item">
                <li class="list__weight__link tabs-nav__btn--active" data-path="ten" tabindex="0">400</li>
                <li class="list__weight__link" data-path="six" tabindex="0">600</li>
                <li class="list__weight__link" data-path="seven" tabindex="0">800</li>
                <li class="list__weight__link" data-path="eight" tabindex="0">1000</li>
                <li class="list__weight__link" data-path="nine" tabindex="0">2000</li>
              </ul>
              <div class="flex card__item">
                <div class="list__weight__container tabs-item tabs-item--active" data-target="ten">
                  <div class="card__item">599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1953</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="six">
                  <div class="card__item">799 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1954</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="seven">
                  <div class="card__item">1199 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1955</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="eight">
                  <div class="card__item">1599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1956</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="nine">
                  <div class="card__item">2890 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1957</p>
                  </div>
                </div>
              </div>
              <div class="list__card__more flex aic card__item">
                <a class="list__more__details" href="/pages/card__one.html">Подробнее</a>
                <svg width="11" class="svg-one" height="18" viewBox="0 0 11 18" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.49998 1.00002L9.27815 8.7782L1.49998 16.5564" stroke="#028e15" stroke-width="2" />
                </svg>
              </div>
              <div class="list__button flex">
                <a class="list__righ__button button" href="#">В корзину</a>
                <a class="list__righ__buttontwo buttontwo" href="">Купить</a>
              </div>
            </div>
          </li>
          <li class="product card">
            <a href="/pages/card__one.html">
              <div class="product__image">
                <div class="product__switch image-switch">
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide2.png" alt="Макбук"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide1.png" alt="Макбук"></div>
                  </div>
                  <div class="image-switch__item">
                    <div class="image-switch__img"><img src="img/tort/test__slide/slide3.png" alt="Макбук"></div>
                  </div>
                </div>
                <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              </div>
              <div class="list__shift">
                <h3 class="list__Card__name card__item">Вкусный тортик</h3>
              </div>
            </a>
            <div class="list__right__weight">
              <p class="list__compound card__item">крем | какао</p>
              <p class="list__right__weighttext card__item">Вес товара, г</p>
              <ul class="list__weight__list flex card__item">
                <li class="list__weight__link tabs-nav__btn--active" data-path="ten" tabindex="0">400</li>
                <li class="list__weight__link" data-path="six" tabindex="0">600</li>
                <li class="list__weight__link" data-path="seven" tabindex="0">800</li>
                <li class="list__weight__link" data-path="eight" tabindex="0">1000</li>
                <li class="list__weight__link" data-path="nine" tabindex="0">2000</li>
              </ul>
              <div class="flex card__item">
                <div class="list__weight__container tabs-item tabs-item--active" data-target="ten">
                  <div class="card__item">599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1953</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="six">
                  <div class="card__item">799 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1954</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="seven">
                  <div class="card__item">1199 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1955</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="eight">
                  <div class="card__item">1599 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1956</p>
                  </div>
                </div>
                <div class="list__weight__container tabs-item" data-target="nine">
                  <div class="card__item">2890 руб.</div>
                  <div class="list__right__article">
                    <p class="list__right__articletext">Артикул: 1957</p>
                  </div>
                </div>
              </div>
              <div class="list__card__more flex aic card__item">
                <a class="list__more__details" href="/pages/card__one.html">Подробнее</a>
                <svg width="11" class="svg-one" height="18" viewBox="0 0 11 18" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.49998 1.00002L9.27815 8.7782L1.49998 16.5564" stroke="#028e15" stroke-width="2" />
                </svg>
              </div>
              <div class="list__button flex">
                <a class="list__righ__button button" href="#">В корзину</a>
                <a class="list__righ__buttontwo buttontwo" href="">Купить</a>
              </div>
            </div>
          </li>
  
          <li class="test none">
            <picture>
              <source srcset="amg/hero1024-3.png" media="(max-width: 1024px)">
              <source srcset="amg/hero768-3.png" media="(max-width: 768px)">
              <source srcset="amg/hero320-3.png" media="(max-width: 320px)">
              <img class="list__img" src="img/tort/tort20.jpg" alt="">
            </picture>
            <ul class="style-one">
              <li class="style-three"> 1 698 р</li>
              <li class="style-four">/ 10 штук</li>
            </ul>
            <p class="section-seven-description2">Пироженное чудо</p>
            <p class="section-six-description3">Крем, какао</p>
            <a href="" class="list__button button">В корзину</a>
            <ul class="star">
              <li class="star1"></li>
              <li class="star2"></li>
              <li class="star3"></li>
              <li class="star4"></li>
              <li class="star5"></li>
            </ul>
          </li>
          <li class="test none">
            <picture>
              <source srcset="amg/hero1024-3.png" media="(max-width: 1024px)">
              <source srcset="amg/hero768-3.png" media="(max-width: 768px)">
              <source srcset="amg/hero320-3.png" media="(max-width: 320px)">
              <img class="list__img" src="img/tort/tort21.jpg" alt="">
            </picture>
            <ul class="style-one">
              <li class="style-three"> 1 698 р</li>
              <li class="style-four">/ 10 штук</li>
            </ul>
            <p class="section-seven-description2">Пироженное чудо</p>
            <p class="section-six-description3">Крем, какао</p>
            <a href="" class="list__button button">В корзину</a>
            <ul class="star">
              <li class="star1"></li>
              <li class="star2"></li>
              <li class="star3"></li>
              <li class="star4"></li>
              <li class="star5"></li>
            </ul>
          </li>
          <li class="test none">
            <picture>
              <source srcset="amg/hero1024-3.png" media="(max-width: 1024px)">
              <source srcset="amg/hero768-3.png" media="(max-width: 768px)">
              <source srcset="amg/hero320-3.png" media="(max-width: 320px)">
              <img class="list__img" src="img/tort/tort19.jpg" alt="">
            </picture>
            <ul class="style-one">
              <li class="style-three"> 1 698 р</li>
              <li class="style-four">/ 10 штук</li>
            </ul>
            <p class="section-seven-description2">Пироженное чудо</p>
            <p class="section-six-description3">Крем, какао</p>
            <a href="" class="list__button button">В корзину</a>
            <ul class="star">
              <li class="star1"></li>
              <li class="star2"></li>
              <li class="star3"></li>
              <li class="star4"></li>
              <li class="star5"></li>
            </ul>
          </li>
          <li class="test none">
            <picture>
              <source srcset="amg/hero1024-3.png" media="(max-width: 1024px)">
              <source srcset="amg/hero768-3.png" media="(max-width: 768px)">
              <source srcset="amg/hero320-3.png" media="(max-width: 320px)">
              <img class="list__img" src="img/tort/tort22.jpg" alt="">
            </picture>
            <ul class="style-one">
              <li class="style-three"> 1 698 р</li>
              <li class="style-four">/ 10 штук</li>
            </ul>
            <p class="section-seven-description2">Пироженное чудо</p>
            <p class="section-six-description3">Крем, какао</p>
            <a href="" class="list__button button">В корзину</a>
            <ul class="star">
              <li class="star1"></li>
              <li class="star2"></li>
              <li class="star3"></li>
              <li class="star4"></li>
              <li class="star5"></li>
            </ul>
          </li>
          <li class="test none">
            <picture>
              <source srcset="amg/hero1024-3.png" media="(max-width: 1024px)">
              <source srcset="amg/hero768-3.png" media="(max-width: 768px)">
              <source srcset="amg/hero320-3.png" media="(max-width: 320px)">
              <img class="list__img" src="img/tort/tort23.jpg" alt="">
            </picture>
            <ul class="style-one">
              <li class="style-three"> 1 698 р</li>
              <li class="style-four">/ 10 штук</li>
            </ul>
            <p class="section-seven-description2">Пироженное чудо</p>
            <p class="section-six-description3">Крем, какао</p>
            <a href="" class="list__button button">В корзину</a>
            <ul class="star">
              <li class="star1"></li>
              <li class="star2"></li>
              <li class="star3"></li>
              <li class="star4"></li>
              <li class="star5"></li>
            </ul>
          </li>
          <li class="test none">
            <picture>
              <source srcset="amg/hero1024-3.png" media="(max-width: 1024px)">
              <source srcset="amg/hero768-3.png" media="(max-width: 768px)">
              <source srcset="amg/hero320-3.png" media="(max-width: 320px)">
              <img class="list__img" src="img/tort/tort24.jpg" alt="">
            </picture>
            <ul class="style-one">
              <li class="style-three"> 1 698 р</li>
              <li class="style-four">/ 10 штук</li>
            </ul>
            <p class="section-seven-description2">Пироженное чудо</p>
            <p class="section-six-description3">Крем, какао</p>
            <a href="" class="list__button button">В корзину</a>
            <ul class="star">
              <li class="star1"></li>
              <li class="star2"></li>
              <li class="star3"></li>
              <li class="star4"></li>
              <li class="star5"></li>
            </ul>
          </li>
          <li class="test none">
            <picture>
              <source srcset="amg/hero1024-3.png" media="(max-width: 1024px)">
              <source srcset="amg/hero768-3.png" media="(max-width: 768px)">
              <source srcset="amg/hero320-3.png" media="(max-width: 320px)">
              <img class="list__img" src="img/tort/tort25.jpg" alt="">
            </picture>
            <ul class="style-one">
              <li class="style-three"> 1 698 р</li>
              <li class="style-four">/ 10 штук</li>
            </ul>
            <p class="section-seven-description2">Пироженное чудо</p>
            <p class="section-six-description3">Крем, какао</p>
            <a href="" class="list__button button">В корзину</a>
            <ul class="star">
              <li class="star1"></li>
              <li class="star2"></li>
              <li class="star3"></li>
              <li class="star4"></li>
              <li class="star5"></li>
            </ul>
          </li>
          <li class="test none">
            <picture>
              <source srcset="amg/hero1024-3.png" media="(max-width: 1024px)">
              <source srcset="amg/hero768-3.png" media="(max-width: 768px)">
              <source srcset="amg/hero320-3.png" media="(max-width: 320px)">
              <img class="list__img" src="img/tort/tort26.jpg" alt="">
            </picture>
            <ul class="style-one">
              <li class="style-three"> 1 698 р</li>
              <li class="style-four">/ 10 штук</li>
            </ul>
            <p class="section-seven-description2">Пироженное чудо</p>
            <p class="section-six-description3">Крем, какао</p>
            <a href="" class="list__button button">В корзину</a>
            <ul class="star">
              <li class="star1"></li>
              <li class="star2"></li>
              <li class="star3"></li>
              <li class="star4"></li>
              <li class="star5"></li>
            </ul>
          </li>
          <li class="test none">
            <picture>
              <source srcset="amg/hero1024-3.png" media="(max-width: 1024px)">
              <source srcset="amg/hero768-3.png" media="(max-width: 768px)">
              <source srcset="amg/hero320-3.png" media="(max-width: 320px)">
              <img class="list__img" src="img/tort/tort27.jpg" alt="">
            </picture>
            <ul class="style-one">
              <li class="style-three"> 1 698 р</li>
              <li class="style-four">/ 10 штук</li>
            </ul>
            <p class="section-seven-description2">Пироженное чудо</p>
            <p class="section-six-description3">Крем, какао</p>
            <a href="" class="list__button button">В корзину</a>
            <ul class="star">
              <li class="star1"></li>
              <li class="star2"></li>
              <li class="star3"></li>
              <li class="star4"></li>
              <li class="star5"></li>
            </ul>
          </li>
          <li class="test none">
            <picture>
              <source srcset="amg/hero1024-3.png" media="(max-width: 1024px)">
              <source srcset="amg/hero768-3.png" media="(max-width: 768px)">
              <source srcset="amg/hero320-3.png" media="(max-width: 320px)">
              <img class="list__img" src="img/tort/tort28.jpg" alt="">
            </picture>
            <ul class="style-one">
              <li class="style-three"> 1 698 р</li>
              <li class="style-four">/ 10 штук</li>
            </ul>
            <p class="section-seven-description2">Пироженное чудо</p>
            <p class="section-six-description3">Крем, какао</p>
            <a href="" class="list__button button">В корзину</a>
            <ul class="star">
              <li class="star1"></li>
              <li class="star2"></li>
              <li class="star3"></li>
              <li class="star4"></li>
              <li class="star5"></li>
            </ul>
          </li>
        </ul>
      </div>
  
      <!-- ***** contacts ***** -->
  
    </section>
    <section class="contacts">
      <div class="container contacts__indent__two">
        <h2 class="second__level__heading contacts__indent mb-30">Контакты</h2>
        <div class="box-two mb-50">
          <ul class="contact">
            <li class="flex fdc">
              <strong class="contact__bold contact__address">Адрес</strong>
              <p class="contact__info contact__info__new">Иркутская область, город Саянск, микр. Южный д.45</p>
            </li>
            <li class="contacts__line"> </li>
            <li class="no__flex fdc-f">
              <strong class="contact__bold">Телефоны</strong>
              <a href="" class="contact__tell">+7 (902) 769-51-55</a>
            </li>
            <li>
              <a href="" class="contact__tell__two">+7 (902) 178-06-82</a>
            </li>
            <li class="contacts__line"></li>
            <li class="no__flex fdc-f">
              <strong class="contact__bold contact__email">E-mail</strong>
              <a href="" class="contact__email__one">evdok68cv@mail.ru</a>
              <p class="contact__email__info">По вопросам бронирования</p>
              <a href="" class="contact__email__two">evg1720@mail.ru</a>
              <p class="contact__email__info">Техническая поддержка</p>
            </li>
            <li class="contacts__line"> </li>
            <li class="flex fdc">
              <strong class="contact__bold">График</strong>
              <p class="contact__info">Понедельник - пятница,</p>
            </li>
            <li>
              <p class="contact__info__time">с 10:00 до 19:00</p>
            </li>
            <li class="contacts__line"></li>
            <li class="form-wrapper">
              <a href="#" class="btn-six">Построить маршрут</a>
            </li>
          </ul>
          <div class="contact__picture"></div>
        </div>
      </div>
    </section>
  
    <!-- ***** questions ***** -->
  
    <section class="questions section-offset">
      <div class="container">
        <h2 class="questions__title second__level__heading ">Часто задаваемые вопросы</h2>
        <ul class="list accordion-container">
          <li class="list__item item ac">
            <button class="item__top botton">
              <span class="item__question ac-header ac-trigger">Из чего формируется конечная стоимость проекта?</span>
              <span class="item__top__btn btn botton__plus-2"></span>
            </button>
            <div class="item__bottom">
              <p class="list__item__text ac-panel">Являясь всего лишь частью общей картины, непосредственные участники
                технического прогресса призывают нас 
                к новым свершениям, которые, в свою очередь, должны быть своевременно верифицированы.
                Но высококачественный прототип будущего проекта является качественно новой ступенью первоочередных
                требований. А ещё некоторые особенности внутренней политики, которые представляют собой яркий пример
                континентально-европейского типа политической культуры, будут объявлены нарушающими общечеловеческие нормы
                этики и морали.</p>
            </div>
          </li>
          <li class="list__item item ac ">
            <button class="item__top botton">
              <span class="item__question ac-header ac-trigger">У меня есть свой проект. Сможем ли мы его доработать /
                реализовать?</span>
              <span class="item__top__btn btn botton__plus-2"></span>
            </button>
            <div class="item__bottom">
              <p class="list__item__text ac-panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut
                ipsa consectetur similique mollitia eius fugit aperiam magni, corrupti laboriosam, vel delectus laudantium
                amet itaque reprehenderit et consequatur aspernatur pariatur?</p>
            </div>
          </li>
          <li class="list__item item ac">
            <button class="item__top botton">
              <span class="item__question ac-header ac-trigger">Я выбираю между разными компаниями. В чём ваше
                отличие?</span>
              <span class="item__top__btn btn botton__plus-2"></span>
            </button>
            <div class="item__bottom">
              <p class="list__item__text ac-panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut
                ipsa consectetur similique mollitia eius fugit aperiam magni, corrupti laboriosam, vel delectus laudantium
                amet itaque reprehenderit et consequatur aspernatur pariatur?</p>
            </div>
          </li>
          <li class="list__item item ac">
            <button class="item__top botton">
              <span class="item__question ac-header ac-trigger">Могу ли я делегировать вам работу / согласование
                с подрядчиком /
                организацией?</span>
              <span class="item__top__btn btn botton__plus-2"></span>
            </button>
            <div class="item__bottom">
              <p class="list__item__text ac-panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut
                ipsa consectetur similique mollitia eius fugit aperiam magni, corrupti laboriosam, vel delectus laudantium
                amet itaque reprehenderit et consequatur aspernatur pariatur?</p>
            </div>
          </li>
          <li class="list__item item ac">
            <button class="item__top botton">
              <span class="item__question ac-header ac-trigger">Могу ли я вернуть деньги на каком-либо из этапов
                работ?</span>
              <span class="item__top__btn btn botton__plus-2"></span>
            </button>
            <div class="item__bottom">
              <p class="list__item__text ac-panel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut
                ipsa consectetur similique mollitia eius fugit aperiam magni, corrupti laboriosam, vel delectus laudantium
                amet itaque reprehenderit et consequatur aspernatur pariatur?</p>
            </div>
          </li>
        </ul>
      </div>
    </section>

{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="{% static 'script/tabs.js' %}"></script>
  <script src="{% static 'script/accordion.min.js' %}"></script>
{% endblock script %}