{% extends 'mainapp/base.html' %}
{% load static %}
  
{% block style %}
    <link rel="stylesheet" href="{% static 'style/offer.css' %}">
{% endblock %}


{% block content %}
<section class="offer__max">
    <div class="offer__max__container container">
        <h1 class="offer__max__heading">Договор оферты</h1>
        <h2 class="offer__text" >1. Стороны договора:</h2>
        <p class="offer__max__description paragraph">Продавец: [Название компании], юридический адрес
            [юридический адрес компании], ИНН [ИНН компании], ОГРН [ОГРН компании], далее именуемый Продавец.</p>
        <p class="offer__max__description paragraph">Покупатель: [Имя и фамилия покупателя], адрес проживания
            [адрес проживания покупателя], контактный номер телефона [контактный номер телефона покупателя], далее
            именуемый Покупатель.</p>
        <h2 class="offer__text" >2. Предмет договора:</h2>
        <p class="offer__max__description paragraph">Продавец обязуется продать, а Покупатель обязуется
            приобрести следующие кондитерские изделия: торты, пирожные, печенье (далее именуемые "Товары") на
            условиях, определенных в настоящем договоре.</p>
        <h2 class="offer__text" >3. Цена и условия платежа:</h2>
        <p class="offer__max__description paragraph">Стоимость Товаров и условия оплаты указываются на сайте
            продавца (tortik-vip.ru) в момент оформления заказа. Покупатель обязуется оплатить полную стоимость
            заказа в соответствии с выбранным способом оплаты.</p>
        <h2 class="offer__text" >4. Условия доставки:</h2>
        <p class="offer__max__description paragraph">Продавец обеспечивает доставку Товаров по указанному
            Покупателем адресу в согласованный срок. Стоимость доставки и способы доставки указываются на сайте
            продавца (tortik-vip.ru).</p>
        <h2 class="offer__text" >5. Гарантии и возврат товара:</h2>
        <p class="offer__max__description paragraph">Продавец гарантирует высокое качество Товаров и
            выполнение заказов в соответствии с требованиями и ожиданиями Покупателя. В случае обнаружения дефектов
            или несоответствия заказанным Товарам, Покупатель вправе заявить претензию и требовать замены или
            возврата товара в течение 3 дней с момента получения.</p>
        <h2 class="offer__text" >6. Конфиденциальность:</h2>
        <p class="offer__max__description paragraph">Продавец обязуется не разглашать информацию, полученную
            от Покупателя, о его личных данных, платежных реквизитах или иных данных, связанных с данным договором,
            третьим лицам без письменного согласия Покупателя.</p>
        <h2 class="offer__text" >7. Ответственность сторон:</h2>
        <p class="offer__max__description paragraph">Продавец несет ответственность за качество и сохранность
            Товаров до момента их передачи Покупателю. Покупатель несет ответственность за достоверность
            предоставленных данных при оформлении заказа.</p>
        <h2 class="offer__text" >8. Срок действия договора:</h2>
        <p class="offer__max__description paragraph">Настоящий договор вступает в силу с момента оформления
            заказа на сайте продавца и действует до полного исполнения сторонами своих обязательств.</p>
        <h2 class="offer__text" >9. Прочие условия:</h2>
        <p class="offer__max__description paragraph">Все изменения и дополнения к настоящему договору должны
            быть согласованы в письменном виде.
            В случае возникновения споров, стороны обязуются приложить все усилия для их разрешения путем
            переговоров. В случае недостижения согласия, споры подлежат рассмотрению в соответствии с действующим
            законодательством.</p>
            <h2 class="offer__text" >10. Заключительные положения:</h2>
            <p class="offer__max__description paragraph">Настоящий договор составлен в двух экземплярах, по одному для каждой из сторон, имеющих одинаковую юридическую силу.</p>
            <p class="offer__max__description paragraph">Подписи сторон</p>
            <p class="offer__max__description paragraph">Покупатель:____________</p>
            <p class="offer__max__description paragraph">Продавец:____________</p>
    </div>
</section>
{% endblock %}