{% extends 'mainapp/base.html' %}
{% load static %}
  
{% block style %}
    <link rel="stylesheet" href="{% static 'style/partners.css' %}">
{% endblock %}


{% block content %}
<section class="exclusive">
    <div class="exclusive__container container">
        <h1 class="exclusive__heading md-20">--- Партнёры ---</h1>
        <div class="exclusive flex md-50">
            <div class="exclusive__left">
                <img class="exclusive__img" src="{% static 'img/coffe__one.jpg' %}" alt=""></div>
            <div class="exclusive__right">
                <h2 class="exclusive__text md-20"><a href="coffe-vip.ru">Сoffe-vip.ru</a></h2>
                <p class="exclusive__description paragraph md-20">Мы рады приветствовать вас в интернет-магазине coffe-vip.ru! Наша компания базируется в прекрасном городе Уфа, который является культурным и экономическим центром Республики Башкортостан. Уфа славится своим богатым историческим наследием, привлекательными достопримечательностями и радушными жителями.</p>
                <p class="exclusive__description paragraph md-20">Одной из главных наших ценностей является качество продукции, предлагаемой в нашем интернет-магазине. Мы тщательно отбираем самые лучшие сорта кофе, как из отечественных, так и из зарубежных регионов. Наше кафе предлагает широкий ассортимент продуктов от ведущих брендов, таких как Lavazza, Illy, Tchibo и других. Мы гарантируем свежесть и высокое качество каждого грамма нашего кофе.</p>
                <!-- <p class="exclusive__description paragraph md-20">Tortik-vip.ru также предлагает возможность заказа куличей на Пасху с доставкой. Это особенно удобно для тех, кто не имеет возможности или времени самостоятельно испечь кулич. Благодаря грамотной упаковке и особому подходу к транспортировке, куличи доходят до адресата в сохранности и свежести. Вы можете выбрать подходящий вам вариант кулича, оформить заказ на сайте и насладиться вкусом этого прекрасного праздничного лакомства вместе со своими близкими.</p> -->
            </div>
        </div>
        <div class="exclusive flex">
            <div class="exclusive__left">
                <img class="exclusive__img" src="{% static 'img/watch__one.jpg' %}" alt=""></div>
            <div class="exclusive__right">
                <h2 class="exclusive__text md-20"><a href="http://watch-vip.ru/">Watch-vip.ru</a></h2>
                <p class="exclusive__description paragraph md-20">Watch-vip.ru - интернет-магазин, специализирующийся на продаже часов на газоразрядных лампах. Мы находимся в городе Уфа и предлагаем широкий выбор моделей от лучших мировых производителей.</p>
                <p class="exclusive__description paragraph md-20">Мы гордимся тем, что предлагаем нашим клиентам только качественные товары, которые отвечают самым высоким стандартам производства. Вся наша продукция проходит строгий контроль качества перед тем, как попасть на прилавки магазина. Это гарантирует, что каждый часовой механизм работает безупречно и точно показывает время. Кроме того, мы постоянно обновляем ассортимент, чтобы предлагать своим клиентам самые новые и модные модели часов на газоразрядных лампах. Если вы ищете уникальные и стильные часы, которые подчеркнут вашу индивидуальность, то именно у нас вы найдете то, что ищете.</p>
                <!-- <p class="exclusive__description paragraph md-20">Tortik-vip.ru также предлагает возможность заказа куличей на Пасху с доставкой. Это особенно удобно для тех, кто не имеет возможности или времени самостоятельно испечь кулич. Благодаря грамотной упаковке и особому подходу к транспортировке, куличи доходят до адресата в сохранности и свежести. Вы можете выбрать подходящий вам вариант кулича, оформить заказ на сайте и насладиться вкусом этого прекрасного праздничного лакомства вместе со своими близкими.</p> -->
            </div>
        </div>
    </div>
</section>
{% endblock %}
