{% extends 'mainapp/base.html' %}
{% load static %}



  
{% block style %}
    <link rel="stylesheet" href="{% static 'style/videos.css' %}">
{% endblock %}


{% block content %}
<section class="videos">
    <div class="videos__container container">
      <h1 class="videos__heading">--- Видеоролики ---</h1>
      <h2 class="videos__title">Торты</h2>
      <div class="videos__cards">
        <div class="videos__item">
          <iframe src="https://www.youtube.com/embed/xqp1EkpZnmA?si=l-rhgUDtEG_y4sZJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <h3>Торт Наполеон</h3>
        </div>
        <div class="videos__item">
          <iframe src="https://www.youtube.com/embed/P-taSrmAM9g?si=QlgxfIXc9fIRgtPU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <h3>Торт медовый</h3>
        </div>
        <div class="videos__item">
          <iframe src="https://www.youtube.com/embed/lg5wznn3IBE?si=WP8M2ulb04QrfaKU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <h3>Торт Наполеон</h3>
        </div>
        <div class="videos__item">
          <iframe src="https://www.youtube.com/embed/xqp1EkpZnmA?si=l-rhgUDtEG_y4sZJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <h3>Торт Наполеон</h3>
        </div>
        <div class="videos__item">
          <iframe src="https://www.youtube.com/embed/xqp1EkpZnmA?si=l-rhgUDtEG_y4sZJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <h3>Торт Наполеон</h3>
        </div>
        <div class="videos__item">
          <iframe src="https://www.youtube.com/embed/xqp1EkpZnmA?si=l-rhgUDtEG_y4sZJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>Торт Наполеон</h3>
        </div>
        <div class="videos__item">
          <iframe src="https://www.youtube.com/embed/xqp1EkpZnmA?si=l-rhgUDtEG_y4sZJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>Торт Наполеон</h3>
        </div>
        <div class="videos__item">
          <iframe src="https://www.youtube.com/embed/xqp1EkpZnmA?si=l-rhgUDtEG_y4sZJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>Торт Наполеон</h3>
        </div>
        <div class="videos__item">
          <iframe src="https://www.youtube.com/embed/xqp1EkpZnmA?si=l-rhgUDtEG_y4sZJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>Торт Наполеон</h3>
        </div>
      </div>

    </div>
  </section>
{% endblock %}

{% block script %}
    <script src="{% static 'script/fslightbox.js.js' %}"></script>
{% endblock %}