{% extends 'adminapp/admin_base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'style/order.css' %}">
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        #order_u {
            position: static;
            width: auto;
            height: auto;
            background: transparent;
            margin: auto;
        }
    </style>
{% endblock %}

{% block content %}
<section class="popupwrapper" id="order_u">
    <form class="order__form popupwrapper__popup form" action="{% url 'orderapp:update' order.id %}" method="post">
        {% csrf_token %}
        <h1 class="form__title">Изменение заказа № {{ order.id }}</h1>
        <div class="order__parent flex">
            <div class="order__left">
                <div class="form__style flex">
                    <div class="form__group flex">
                        {{ order_form.user_fullname }}
                        {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                        <label class="form__label" for="{{ order_form.user_fullname.id_for_label }}">Ф.И.О.</label>
                    </div>
                </div>

                <div class="form__style flex">
                    <div class="form__group flex">
                        {{ order_form.phone }}
                        {% comment %} <input class="form__input" placeholder="" type="tel"> {% endcomment %}
                        <label class="form__label" for="{{ order_form.phone.id_for_label }}">Телефон</label>
                    </div>
                </div>
                <div class="form__style flex">
                    <div class="form__group flex">
                        {{ order_form.email }}
                        {% comment %} <input class="form__input" placeholder="" type="email"> {% endcomment %}
                        <label class="form__label" for="{{ order_form.email.id_for_label }}">E-mail:</label>
                    </div>
                </div>
                <div class="form__group flex orderdelivery">
                    {{ order_form.index }}
                    {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                    <label class="form__label" for="{{ order_form.index.id_for_label }}">Индекс</label>
                </div>
                <div class="form__group flex orderdelivery">
                    {{ order_form.region }}
                    {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                    <label class="form__label" for="{{ order_form.region.id_for_label }}">Регион</label>
                </div>
                <div class="form__group flex orderdelivery">
                    {{ order_form.city }}
                    {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                    <label class="form__label" for="{{ order_form.city.id_for_label }}">Город (нас.пункт)</label>
                </div>
                <div class="form__group flex orderdelivery">
                    {{ order_form.street }}
                    {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                    <label class="form__label" for="{{ order_form.street.id_for_label }}">Улица</label>
                </div>
                <div class="order__home flex orderdelivery">
                    <div class="form__group flex">
                        {{ order_form.num_house }}
                        {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                        <label class="form__label" for="{{ order_form.num_house.id_for_label }}">Дом</label>
                    </div>
                    <div class="form__group flex">
                        {{ order_form.num_flat }}
                        {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                        <label class="form__label" for="{{ order_form.num_flat.id_for_label }}">Кв.</label>
                    </div>
                    <div class="form__group flex">
                        {{ order_form.num_building }}
                        {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                        <label class="form__label" for="{{ order_form.num_building.id_for_label }}">Корпус</label>
                    </div>
                </div>
                <div class="emptyblock"></div>
                {{ order_form.status_delivery }}
                {% comment %} <input id="order_delivery_status" class="none"> {% endcomment %}
                <div class="form__style form__style__order flex ">
                    <div class="radio">
                        <input class="radio__input" name="order_delivery_input" type="radio" id="order_delivery_input1">
                        <label class="radio__label" for="order_delivery_input1">Доставка</label>
                    </div>
                    <div class="radio">
                        <input class="radio__input" name="order_delivery_input" type="radio" id="order_delivery_input2" checked>
                        <label class="radio__label" for="order_delivery_input2">Самовывоз</label>
                    </div>
                </div>
                <div class="order__promo flex">
                    <div class="form__group flex">
                        {{ order_form.promo_code }}
                        {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                        <label class="form__label" for="{{ order_form.promo_code.id_for_label }}">ПРОМОКОД</label>
                    </div>
                </div>
                <div class="order__promo flex">
                    <div class="form__group flex">
                        <p>Итоговая стоимость заказа: <span id="order_total_price">{{ order.total_summ }} руб.</span></p>
                    </div>
                </div>
            </div>
            <div class="order__right">
                <table class="order__table">
                    <thead class="order__table__header">
                        <tr>
                            <td class="order__header__bold">Фото</td>
                            <td class="order__header__bold">Позиция</td>
                            <td class="order__header__bold">Масса (кг)</td>
                            <td class="order__header__bold">Цена (шт)</td>
                            <td class="order__header__bold">Кол-во (шт)</td>
                            <td class="order__header__bold">Сумма (руб)</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr class="order__table__body">
                                <td class="">
                                    {% if  product.image %}
                                        <img class="order__img" src="{{ product.image.url }}" alt="">
                                    {% endif %}
                                </td>
                                <td class="order__header__regular">{{ product.name }}</td>
                                <td class="order__header__regular">
                                    {% if not product.weight_gram == 0 %}
                                        {{ product.weight_gram }}
                                    {% else %}
                                        ---
                                    {% endif %}
                                </td>
                                <td class="order__header__bold">
                                    {{ product.product.price }}
                                </td>
                                <td class="order__header__bold">
                                    {{ product.count }}
                                </td>
                                <td class="order__header__bold">{{ product.summ }}</td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>

        </div>
        <input type="submit" class="form__button button order_btn" id="btn" value="Сохранить">
        {% comment %} <a class="form__button button" id="btn" onclick="printmsg()" href="https://ya.ru/">Оформить заказ</a> {% endcomment %}
    </form>
</section>
{% endblock %}

{% block script %}
    <script src="{% static 'script/order_update.js' %}"></script>
    <script src="{% static 'script/order.js' %}"></script>
{% endblock %}