{% load static %}

<section class="popupwrapper none mypage" id="mypage__popup">
    <form class="form mypage__form popupwrapper__popup form_label" action="{% url 'authapp:profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} {{ profile_form.as_p }} {% endcomment %}
       <div class="popupwrapper__clouse"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g >
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M6.21991 6.21479C6.51281 5.92189 6.98768 5.92189 7.28057 6.21479L17.7854 16.7196C18.0783 17.0125 18.0783 17.4874 17.7854 17.7803C17.4925 18.0732 17.0177 18.0732 16.7248 17.7803L6.21991 7.27545C5.92702 6.98255 5.92702 6.50768 6.21991 6.21479Z"
                            fill="#000000" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M17.7853 6.21479C18.0782 6.50769 18.0782 6.98256 17.7853 7.27545L7.28038 17.7802C6.98749 18.0731 6.51261 18.0731 6.21972 17.7802C5.92683 17.4873 5.92683 17.0124 6.21973 16.7195L16.7247 6.21478C17.0176 5.92189 17.4924 5.9219 17.7853 6.21479Z"
                            fill="#000000" />
                    </g>
            </svg></div>
        <h1 class="form__title">Моя страница</h1>
        <div class="flex mypage__link">
            <div class="mypage__photo__left">
                <div class="mypage__photo">
                    {% if user.image %}
                        <label for="mypage__photoi" class="mypage__photo__link"><img src="{{ user.image.url }}"
                            class="mypage__photo__img" alt=""></label>
                    {% else %}
                    <label for="mypage__photoi" class="mypage__photo__link"><img src="{% static 'img/user.svg' %}" class="mypage__photo__img"
                        alt=""></label>
                    {% endif %}
                    
                </div>
                {{ profile_form.image }}
                
                {% comment %} <input type="file" class="none" id="mypage__photoi" accept=".jpg,.jpeg,.svg,.png"> {% endcomment %}
                <!-- <label for="mypage__photoi" class="button">Изменить фото</label> -->

            </div>
            <div class="form__style__two">
                <div class="form__group">
                    {{ profile_form.first_name }}
                    {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                    <label class="form__label">Имя</label>
                </div>
                <div class="form__group">
                    {{ profile_form.last_name }}
                    <label class="form__label">Фамилия</label>
                </div>
                <div class="form__group">
                    {{ profile_form.patronymic }}
                    {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                    <label class="form__label">Отчество</label>
                </div>

                <div class="form__group">
                    {{ profile_form.username }}
                    {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                    <label class="form__label">Имя пользователя</label>
                </div>
            </div>
        </div>
        <div class="form__group">
            <p class="none user_date_of_birth">{{ user.date_of_birth.day }}.{{ user.date_of_birth.month }}.{{ user.date_of_birth.year }}</p>
            {{ profile_form.date_of_birth }}
            {% comment %} <input class="form__input" type="date" name="trip-start"> {% endcomment %}
            <label class="form__label">Дата рождения</label>
        </div>
        <h4 class="form__title__gender">Пол</h4>
        <div class="form__style form__style__gender form__style__gender_p flex ">
            {{ profile_form.gender }}
            <div class="radio">
                <input class="radio__input" name="male" type="radio" id="radio_mp">
                <label class="radio__label" for="radio_mp">Мужской</label>
            </div>
            <div class="radio">
                <input class="radio__input" name="male" type="radio" id="radio_wp" checked>
                <label class="radio__label" for="radio_wp">Женский</label>

            </div>
        </div>
        <div class="form__style flex">
            <div class="form__group flex">
                {{ profile_form.phone }}
                {% comment %} <input class="form__input" placeholder="" type="tel"> {% endcomment %}
                <label class="form__label">Телефон</label>
            </div>
            <div class="form__group flex">
                {{ profile_form.email }}
                {% comment %} <input class="form__input" placeholder=" " type="email"> {% endcomment %}
                <label class="form__label">E-mail:</label>
            </div>
        </div>
        <div class="form__group flex">
            {{ profile_form.address }}
            {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
            <label class="form__label">Адрес</label>
        </div>
        <input type="submit" value="Сохранить" class="form__button button">
    </form>
</section>