

<section class="popupwrapper none" id="order">
    <form class="order__form popupwrapper__popup form form_label" action="{% url 'orderapp:create_order' %}" method="post">
        {% csrf_token %}
            <div class="popupwrapper__clouse"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="close">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M6.21991 6.21479C6.51281 5.92189 6.98768 5.92189 7.28057 6.21479L17.7854 16.7196C18.0783 17.0125 18.0783 17.4874 17.7854 17.7803C17.4925 18.0732 17.0177 18.0732 16.7248 17.7803L6.21991 7.27545C5.92702 6.98255 5.92702 6.50768 6.21991 6.21479Z"
                                fill="#000000" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M17.7853 6.21479C18.0782 6.50769 18.0782 6.98256 17.7853 7.27545L7.28038 17.7802C6.98749 18.0731 6.51261 18.0731 6.21972 17.7802C5.92683 17.4873 5.92683 17.0124 6.21973 16.7195L16.7247 6.21478C17.0176 5.92189 17.4924 5.9219 17.7853 6.21479Z"
                                fill="#000000" />
                        </g>
            </svg></div>
        <h1 class="form__title">Оформление заказа</h1>
        <div class="order__parent flex">
            <div class="order__left">
                <div class="form__style flex">
                    <div class="form__group flex">
                        {{ order_form.user_fullname }}
                        {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                        <label class="form__label" for="{{ order_form.user_fullname.id_for_label }}">Ф.И.О.</label>
                    </div>
                </div>

                <div class="form__style flex">
                    <div class="form__group flex">
                        {{ order_form.phone }}
                        {% comment %} <input class="form__input" placeholder="" type="tel"> {% endcomment %}
                        <label class="form__label" for="{{ order_form.phone.id_for_label }}">Телефон</label>
                    </div>
                </div>
                <div class="form__style flex">
                    <div class="form__group flex">
                        {{ order_form.email }}
                        {% comment %} <input class="form__input" placeholder="" type="email"> {% endcomment %}
                        <label class="form__label" for="{{ order_form.email.id_for_label }}">E-mail:</label>
                    </div>
                </div>
                <div class="form__group flex orderdelivery">
                    {{ order_form.index }}
                    {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                    <label class="form__label" for="{{ order_form.index.id_for_label }}">Индекс</label>
                </div>
                <div class="form__group flex orderdelivery">
                    {{ order_form.region }}
                    {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                    <label class="form__label" for="{{ order_form.region.id_for_label }}">Регион</label>
                </div>
                <div class="form__group flex orderdelivery">
                    {{ order_form.city }}
                    {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                    <label class="form__label" for="{{ order_form.city.id_for_label }}">Город (нас.пункт)</label>
                </div>
                <div class="form__group flex orderdelivery">
                    {{ order_form.street }}
                    {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                    <label class="form__label" for="{{ order_form.street.id_for_label }}">Улица</label>
                </div>
                <div class="order__home flex orderdelivery">
                    <div class="form__group flex">
                        {{ order_form.num_house }}
                        {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                        <label class="form__label" for="{{ order_form.num_house.id_for_label }}">Дом</label>
                    </div>
                    <div class="form__group flex">
                        {{ order_form.num_flat }}
                        {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                        <label class="form__label" for="{{ order_form.num_flat.id_for_label }}">Кв.</label>
                    </div>
                    <div class="form__group flex">
                        {{ order_form.num_building }}
                        {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                        <label class="form__label" for="{{ order_form.num_building.id_for_label }}">Корпус</label>
                    </div>
                </div>
                <div class="emptyblock"></div>
                {{ order_form.status_delivery }}
                {% comment %} <input id="order_delivery_status" class="none"> {% endcomment %}
                <div class="form__style form__style__order flex ">
                    <div class="radio">
                        <input class="radio__input" name="order_delivery_input" type="radio" id="order_delivery_input1">
                        <label class="radio__label" for="order_delivery_input1">Доставка</label>
                    </div>
                    <div class="radio">
                        <input class="radio__input" name="order_delivery_input" type="radio" id="order_delivery_input2" checked>
                        <label class="radio__label" for="order_delivery_input2">Самовывоз</label>
                    </div>
                </div>
             <!-- <div class="order__form__delivery flex">
                <div class="order__form__group">
                    <input name="order_delivery_input" type="radio" id="order_delivery_input1">
                    <label for="order_delivery_input1">Доставка</label>
                </div>
                <div class="order__form__group">
                    <input name="order_delivery_input" type="radio" id="order_delivery_input2" checked>
                    <label for="order_delivery_input2">Самовывоз</label>
                </div>
            </div> -->
                <div class="order__promo flex">
                    <div class="form__group flex">
                        {{ order_form.promo_code }}
                        {% comment %} <input class="form__input" placeholder=" " type="text"> {% endcomment %}
                        <label class="form__label" for="{{ order_form.promo_code.id_for_label }}">ПРОМОКОД</label>
                    </div>
                </div>
                <div class="order__promo flex">
                    <div class="form__group flex">
                        <p>Итоговая стоимость заказа: <span id="order_total_price">{{ basket_summ }} руб.</span></p>
                    </div>
                </div>
            </div>
            <div class="order__right">
                <table class="order__table">
                    <thead class="order__table__header">
                        <tr>
                            <td class="order__header__bold">Фото</td>
                            <td class="order__header__bold">Позиция</td>
                            <td class="order__header__bold">Масса (кг)</td>
                            <td class="order__header__bold">Цена (шт)</td>
                            <td class="order__header__bold">Кол-во (шт)</td>
                            <td class="order__header__bold">Сумма (руб)</td>
                            <td class="order__header__bold">-----</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for basket in baskets %}
                            <tr class="order__table__body">
                                <td class="">
                                    {% if  basket.image %}
                                        <img class="order__img" src="{{ basket.image.url }}" alt="">
                                    {% endif %}
                                </td>
                                <td class="order__header__regular">{{ basket.name }}</td>
                                <td class="order__header__regular">
                                    {% if not basket.weight_gram == 0 %}
                                        {{ basket.weight_gram }}
                                    {% else %}
                                        ---
                                    {% endif %}
                                </td>
                                <td class="order__header__bold">
                                    {{ basket.price }}
                                </td>
                                <td class="order__header__bold">
                                    {{ basket.count }}
                                </td>
                                <td class="order__header__bold">{{ basket.summ }}</td>
                                <td class="order__header__regular">
                                    <a class="order_a basket_delete" data-basket-id="{{ basket.id }}">Отменить</a>
                                </td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>

        </div>
        <div class="order__form__checkbox">
            <label class="checkbox" for="checkboxtwo">
                <input class="checkbox__inp" type="checkbox" id="checkboxtwo" checked>
                <span class="checkbox__inner">
                    Я согласен на <a class="order__agreement" href="{% url 'mainapp:personalization' %}">обработку
                        персональных данных</a>
                </span>
            </label>
        </div>
        <input type="submit" class="form__button button order_btn" id="btn" value="Оформить заказ">
        {% comment %} <a class="form__button button" id="btn" onclick="printmsg()" href="https://ya.ru/">Оформить заказ</a> {% endcomment %}
    </form>
</section>