{% load static %}

<section class="popupwrapper none" id="registration_popup">
  {% if register_form.errors %}
        {% for error in register_form.errors %}
          {{ error | escape }}
        {% endfor %}
      {% endif %}  
      {% for error in register_form.errors %}
          {{ error | escape }}
        {% endfor %}
  <form class="popupwrapper__popup register__form" action="{% url 'authapp:register' %}" method="post">
    {% csrf_token %}
    {% if register_form.errors %}
      {% for field in register_form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in register_form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endif %}
      <div class="popupwrapper__clouse"><svg viewBox="0 0 24 24" fill="none">  
          <g id="style-stroke-1">
            <g id="close-2">
              <path id="vector-7" fill-rule="evenodd" clip-rule="evenodd"
                d="M6.21991 6.21479C6.51281 5.92189 6.98768 5.92189 7.28057 6.21479L17.7854 16.7196C18.0783 17.0125 18.0783 17.4874 17.7854 17.7803C17.4925 18.0732 17.0177 18.0732 16.7248 17.7803L6.21991 7.27545C5.92702 6.98255 5.92702 6.50768 6.21991 6.21479Z"
                fill="#000000" />
              <path id="vector-3" fill-rule="evenodd" clip-rule="evenodd"
                d="M17.7853 6.21479C18.0782 6.50769 18.0782 6.98256 17.7853 7.27545L7.28038 17.7802C6.98749 18.0731 6.51261 18.0731 6.21972 17.7802C5.92683 17.4873 5.92683 17.0124 6.21973 16.7195L16.7247 6.21478C17.0176 5.92189 17.4924 5.9219 17.7853 6.21479Z"
                fill="#000000" />
            </g>
          </g>
        </svg></div>
        <h1 class="register__form__title">Регистрация</h1>
      {% comment %} {{ register_form.as_p }} {% endcomment %}
      <div class="register__form__style flex">
        <div class="register__form__group flex">
          {{ register_form.first_name }}
          {% comment %} <input class="register__form__input" placeholder=" " type="text"> {% endcomment %}
          <label class="register__form__label" for="{{ register_form.first_name.id_for_label }}">Имя</label>
        </div>
        <div class="register__form__group flex">
          {{ register_form.last_name }}
          {% comment %} <input class="register__form__input" placeholder=" " type="text"> {% endcomment %}
          <label class="register__form__label" for="{{ register_form.last_name.id_for_label }}">Фамилия</label>
        </div>
        <div class="register__form__group flex">
          {{ register_form.patronymic }}
          {% comment %} <input class="register__form__input" placeholder=" " type="text"> {% endcomment %}
          <label class="register__form__label" for="{{ register_form.patronymic.id_for_label }}">Отчество</label>
        </div>
      </div>
      <div class="register__form__group flex">
        {{ register_form.username }}
        {% comment %} <input class="register__form__input" placeholder=" " type="text" id="username_input"> {% endcomment %}
        <label class="register__form__label" for="{{ register_form.username.id_for_label }}">Имя пользователя</label>
      </div>
      <div class="register__form__group flex username_error none">
        <p>мат использовать нельзя</p>
      </div>
      <div class="register__form__group">
        {{ register_form.date_of_birth }}
        {% comment %} <input class="register__form__input" type="date" name="trip-start"> {% endcomment %}
        <label class="register__form__label" for="{{ register_form.date_of_birth.id_for_label }}">Дата рождения</label>
      </div>
      <h4 class="register__form__title__gender">Пол</h4>
      <div class="register__form__style register__form__style__gender flex ">
        {{ register_form.gender }}
        {% comment %} <input type="text"  class="gender_value none"> {% endcomment %}
        <div class="radio">
          <input class="radio__input" name="male" type="radio" id="radio_1">
          <label class="radio__label" for="radio_1">Мужской</label>
        </div>
        <div class="radio">
          <input class="radio__input" name="male" type="radio" id="radio_2" checked>
          <label class="radio__label" for="radio_2">Женский</label>
        </div>
      </div>
      <div class="register__form__style flex">
        <div class="register__form__group flex">
          {{ register_form.phone }}
          {% comment %} <input class="register__form__input" placeholder="" type="tel"> {% endcomment %}
          <label class="register__form__label" for="{{ register_form.phone.id_for_label }}">Телефон</label>
        </div>
        <div class="register__form__group flex">
          {{ register_form.email }}
          {% comment %} <input class="register__form__input" placeholder=" " type="email"> {% endcomment %}
          <label class="register__form__label" for="{{ register_form.email.id_for_label }}">E-mail:</label>
        </div>
      </div>
      <div class="register__form__group flex">
        {{ register_form.address }}
        {% comment %} <input class="register__form__input" placeholder=" " type="text"> {% endcomment %}
        <label class="register__form__label" for="{{ register_form.address.id_for_label }}">Адрес</label>
      </div>
      <div class="register__form__style flex">
        <div class="register__form__group flex">
          {{ register_form.password1 }}
          {% comment %} <input class="register__form__input" placeholder=" " type="password"> {% endcomment %}
          <label class="register__form__label" for="{{ register_form.password1.id_for_label }}">Пароль:</label>
        </div>
        <div class="register__form__group flex">
          {{ register_form.password2 }}
          {% comment %} <input class="register__form__input width-200" placeholder=" " type="password"> {% endcomment %}
          <label class="register__form__label" for="{{ register_form.password1.id_for_label }}">Подтверждение пароля:</label>
        </div>
      </div>
      <div class="register__form__group flex password_error none">
        <p>Пароли не совпадаюют</p>
      </div>
      <div class="register__form__style__captcha flex">
        <div class="register__form__group flex inline" id="user-input">
          <input class="register__form__input register__form__input_date" placeholder="" type="text" id="submit">
          <label class="register__form__label">Введите код</label>
        </div>
        <div class="inline">
          <img class="update__icon" src="{% static 'img/update.svg' %}" alt="">
        </div>
        <div class="register__form__group flex inline" id="image"></div>
        <p id="key"></p>
      </div>
      <div class="register__form__checkbox">
        <label class="checkbox" for="checkbox">
          <input class="checkbox__inp" type="checkbox" id="checkbox" checked>
          <span class="checkbox__inner">
            Я согласен <a class="checkbox__agreement" href="/pages/personalization.html"> на обработку персональных
              данных</a>
          </span>
        </label>
      </div>
      <input type="submit" value="Зарегистрироваться" class="register__form__button button" id="btn">
      {% comment %} <a class="register__form__button button" id="btn" onclick="printmsg()"
        href="https://ya.ru/">Зарегистрироваться</a> {% endcomment %}
    </form>
  </section>